html, body {
    height: 100%;
    overflow: hidden;
}

#test {
    height: 100%;
    background: #ddd;
}

.title {
    height: 10%;
    text-align: center;
    line-height: 100px;
    background: red
}

.content-wrapper {
    height: 80%;
    /*overflow:hidden;*/
}

/*左右等高布局*/
.content-wrapper .left-sidebar {
    float: left;
    width: 100px;
    background: #b2b2b2;
    height: 100%;
}

.container {
    margin-left: 100px;
    background: #fff3f3;
    height: 100%;
}

/*标题行居中*/
.container .title {
    margin: 0 auto;
    background: #c9c9c9;
}

.ball {
    /*transition:all 2s cubic-bezier(.45,-0.54,.25,.99);*/
    position: absolute;
}
.ball.active{
    animation: anm 1s cubic-bezier(.45,-0.54,.25,.99)
}
.inner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    line-height: 40px;
    text-align: center;
    transition:all 1s ;
    /*速度曲线transition-timing-function
    cubic-bezier(.45,-0.54,.25,.99) cubic-bezier (t1, d1, t2, d2)
    t1和d1控制从开始点到中间点的时间和距离，t2和d2控制从中间点到结束点的时间和距离*/
}
.btn{
    margin-top:50px;
}
@keyframes anm {
    0% {transform:translate3d(0,0,0)}
    25% {transform:translate3d(0,-100px,0)}
    100% {transform:translate3d(0,0,0)}
}